@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #ffffff;
    font-family: 'Odibee Sans';
}

.main-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
}

.main-wrapper h1 {
    font-size: 8rem;
    letter-spacing: 6px;
}

.wrapper2 {
    width: 80vw;
    height: 50vh;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.wrapper2 h1, .containers {
    font-size: 8rem;
}

.containers {
    background-color: #6f6f6f;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 20vw;
    height: 45vh;
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20rem;
}